.text-small {
    font-size: 0.9rem !important;
}

body {
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
